main {
    display: flex;
    flex-direction: column;
}

.doc-list-header {
    flex: 0 80px;
}

.search-input {
    width: 400px;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.filter {
    flex: 0 250px;
}

.card-deck {
    overflow: auto;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.card {
    margin: 15px;
}

.card-img-top {
    object-fit: cover;
    height: 180px;
    width: 100%;
}

@media (max-width: 700px) {
    .filter, footer {
        display: none;
    }
}