main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login {
    width: 300px;
    align-items: center;

}

.input-group {
    margin: 5px;

}

h3 {
    text-align: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-actions {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.welcome {
    text-align: center;
    max-width: max-content;
  }

.logo {
    font-family: monospace;
    font-style: normal;
    font-size: 100;
  }

  h2 {
    font-size: 40pt;
  }

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 4s steps(10, end) forwards, cursor .5s 14;
}


@keyframes typing {
    from {
        width: 0ch
    }
    40% {
        width: 7ch
    }
    50% {
        width: 7ch
    }
    65% {
        width: 4ch
    }
    to {
        width: 13ch
    }
}

@keyframes cursor {
    from {
        border-right: 2px solid black;
    }
    to {
        border-right: 2px solid transparent;
    }
}