html {
    height: 100%;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    margin: 0;
    height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#64dbc9, white);
    color: black !important;
    /* overflow: hidden !important; */
}

header {
    flex: 0 80px;
    background-color:#64dbc9
}

.navbar-brand {
    display: flex;
    flex: 0;
    align-items: center;
    font-family: 'Bad Script';
    /* font-weight: 900; */
    font-size: xx-large;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: relative;
}

menu {
    display: flex;
    flex: 1;
    flex-direction: row !important;
    /* list-style: none; */
    margin-left: auto;
    align-items: center;
    margin-top: 0;
}

menu .nav-item {
    padding-left: .5em;
    padding-right: .5em;

}

footer {
    flex: 0 80px;
    flex-shrink: 0;
    margin: 0;
    background-color: #f47a00;
}

.login {
    width: 300px;
    align-items: center;

}

.input-group {
    padding: 10px 10px 10px 10px;
    margin: 5px;
}

.form-actions {
    align-self: center;
    display: inline-flex;
    gap: 10px;
}

.welcome {
    text-align: center;
    max-width: max-content;
  }

.logo {
    font-family: monospace;
    font-style: normal;
    font-size: 100;
  }

  h2 {
    font-size: 40pt;
  }

/* .typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 4s steps(10, end) forwards, cursor .5s 14;
} */


/* @keyframes typing {
    from {
        width: 0ch
    }
    40% {
        width: 7ch
    }
    50% {
        width: 7ch
    }
    65% {
        width: 4ch
    }
    to {
        width: 13ch
    }
}

@keyframes cursor {
    from {
        border-right: 2px solid black;
    }
    to {
        border-right: 2px solid transparent;
    }
} */