main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    width: 100%;
    margin: 30px;
    margin-left: 0;
    margin-right: 0
}

.post {
    width: 80%
}

.card-img-top {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.scrollbox {
    flex: 1;
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

aside {
    flex: 0 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;

}

h3 {
    text-align: center;
}